* {
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
}
/*Debug*/
/*General*/
/*HEADER*/
header {
    background-color: #FF6900;
    height: 70px;
}
.header-container {
    width: 1000px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}
    
.img-logo {
    height: 35px;
    width: 120px;
}
.nav-link > a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}
/*MAIN*/
.container {
    max-width: 1000px;
    margin: 0 auto; 
}
.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}
.my-col1-3 {
    width: calc((100% / 3) - 60px);
    margin: 20px 10px;
}
.relative {
    position: relative;
}
.red-50 {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 0.6rem;
    width: 30px;
    height: 15px;
    text-align: center;
    vertical-align: text-bottom;
}
.green-sosten {
    display: inline-block;
    background-color: green;
    color: white;
    font-size: 0.75rem;
    width: 75px;
    height: 15px;
    text-align: center;
    vertical-align: text-bottom;
}    
.heart {
    display: block;
    position: absolute;
    top: 5%;
    left: 92%;
    height: 20px;
    width: 27px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}
.sale {
    position: absolute;
    top: 80%;
    left: 0%;
}   
.brand {
    font-size: 0.7rem;
}
.product-name{
    font-weight: bold;
    font-size: 0.9rem;
}
.price {
    font-size: 0.75rem;
    color: red;
    font-weight: bold;
}.old-price {
    font-weight: normal;
    color: black;
    text-decoration: line-through;
}